* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}


:root{
    --color-primary: #D9D9D9;
    --color-dois: #2C2C2C;
    --color-tres: #caa252;
    font-family: "Raleway", sans-serif;

     

}


header,
.hero-section {
    border-color: var(--color-primary);
    border-style: solid;
    border-width: 0 0px 0px 0px;
    padding: 0.5rem;
    background-color: var(--color-dois);
    width: 100%;
    color: #fff;
}

.topico{
    border-color: var(--color-tres);
    border-style: solid;
    border-width:  0px 0px 0px;
    background-color: var(--color-tres);
    width: 100%;
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

.head{
    border-color: var(--color-dois);
    border-style: solid;
    border-width: 0 0px 0px 0px;
    background-color: var(--color-dois);
    width: 100%;
}


.logo-text {
    font-size: 3rem;
    padding-left: 700px;
    color: #fff; /* escolha uma cor que combine com o seu site */
}

table {
    width: 100%;
    height: 100%;
    
}

.img2{
    width: 100%;
}

.img3{
    width: 100%;
    height: 48%;
}
.negativo {
    background-color: red;
  }

.positivo {
    background-color: green;
}

td {
    font-weight: bold;
    text-align: center;
}

.tabela {
    border-collapse: collapse;
    
  }
  
  .tabela td, .tabela th {
    border: 0.5px solid #ddd;
    padding: 5px;
    font-size: 16px;
  }
  
  .tabela th {
    background-color: #929AAB;
  }
  
  .tabela tr:nth-child(even) {
    background-color: #929AAB;
  }
  

